<h1>All Owners</h1>

<%= render 'shared/flash_text' %>

<ul>
  <% @owners.each do |owner| %>
    <li>
      <%= link_to owner.name, owner_path(owner) %> -- <%= link_to 'View all pets', owner_pets_path(owner) %>
    </li>
  <% end %>
</ul>

<%= render 'owners/owner_footer' %>